<div class="card">
  <div class="card-body">
    <div class="h2">
      <!-- Имя автора -->
      {{ author.get_full_name }}
    </div>
    <div class="h3 text-muted">
      <!-- username автора -->
      <span style="color: #005cbf">@{{ author.username }}</span>
    </div>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="h6 text-muted">
          Подписчиков: XXX <br>
          Подписан: XXX
        </div>
      </li>
      <li class="list-group-item">
      <div class="h6 text-muted">
        <!-- Количество записей -->
        Записей: {{ page.paginator.count }}
      </div>
      </li>
    </ul>
</div>
