<div class="card mb-3 mt-1 shadow-sm">
  {% include "includes/post_image.html" %}
  <div class="card-body">
    <p class="card-text">
      <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
      <a href="/{{ post.author.username }}/">
        <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
      </a>
      {{ post.text|linebreaksbr }}
    </p>
    {% if post.group %}
      <a class="card-link muted" href="{% url 'posts:post_in_group' post.group.slug %}">
        <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
      </a>
    {% endif %}
    {% if post.comments.exists %}
          <div>
            Комментариев: {{ post.comments.count }}
          </div>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group ">

        <!-- Ссылка на страницу записи в атрибуте href-->
        {% if user.is_authenticated and add_comment%}
            <div>
        <a class="btn btn-sm btn-primary" href="{% url 'posts:post' post.author.username post.id %}" role="button">
          Добавить комментарий
        </a>
            </div>
        {% endif %}
        {% if post.author == user %}
            <div>
        <a class="btn btn-sm btn-info" href="{% url 'posts:post_edit' post.author.username post.id %}" role="button">
          Редактировать
        </a>
            </div>
        {% endif %}
      </div>
      <!-- Дата публикации  -->
      <small class="text-muted">{{ post.pub_date|date:"d E Y" }}</small>
    </div>
  </div>
</div>