<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block header %}{% endblock %}
{% load static %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <!-- Левый вспомогательный блок -->
  <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <img class="w-75 mx-auto d-flex" src="{% static 'images/author_photo.jpg'%}" >
              <div class="h6 text-muted">
                Улыбайтесь - это всех раздражает)
                <span>&#128521</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p class="text-justify">Всем привет! Меня зовут <b>Андрей</b> и я усиленно пытаюсь стать Python разработчиком.
            <span>&#129396</span><br>
            <b style="color: #fb0202">Геймер</b>, препод и перфекционист (из-за последнего немного страдаю<span>&#129299</span>)
          Свои первые маленьки программы я писал в университете и это был ужасный TurboPascal. На удивление он давался мне очень легко и это были первые деньги (а иногда просто хот-дог в столовой)
            которые я заработал написав пару десятков программ для своих сокурсников.<br></p>
          <p class="text-justify">
            Затем был старый добрый <b>MathCad</b>, после этого <b>C#</b> и в итоге
            <b style="color: #306998">Pyt</b><b style="color: #FFD43B">hon</b><span>&#128013</span>
            и всё, что с ним связанно.<br>
            Моё желание стать программистом связанно с тем, что это мир безграничный для творчества и гибких решений.
            Возможность писать программы, что-то создавать, автоматизировать и делать этот мире лучше это и есть то, что меня по настоящему вдохновляет.
            Корни этого вдохновения я нашёл в своих студентах (и немного в своей лени <span>&#128527</span>). Всё время своей преподавательской деятельности, я старался
            делать так чтобы мои студенты тратили больше времени на тренировку навыков (причём всех), а не на беготню за перподом, переписывание методичек и трату бумаги и денег
            для бесконечного, бессмысленного и беспощадного перепечатывания каких-то расчёток и курсовых. В итоге я начал делать свою систему электронных лабораторных работ, систему хранения и проверки
            расчёток в электронном формате и стал вести свой небольшой канал на <a href="https://youtu.be/c8jFmS4EdmM">Youtube</a>.
          </p>
          <p style="color: lightseagreen" class="text-center"><b>Я выражаю огромную благодарность своей второй половинке, которая поддерживает меня во всех моих задумках.<br>
          Моим любимым детям, периодчески сводящим меня сума<span>&#129327</span><br>
          Моим лучшим друзьям за веру меня и некоторым людям за неверу в меня (это мотивирует <span>&#128513</span>)</b></p>
          <img class="w-75 mx-auto d-flex" src="{% static 'images/family_author.jpg'%}">
          <ul>
            И так если интересно мои контакты:
            <li><a href="https://github.com/kapkaevandrey"><b>Github</b></a> Пока скромный, весьма скромный</li>
            <li><a href="https://vk.com/kapkaew_lucky"><b>ВКонтакте</b></a> Этот канал всегда открыт.</li>
            <li><a href="https://www.instagram.com/kapkaev.andrei/"><b>Instagram</b></a> Фоточки, нужно больше фоточек.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}