<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}О технологиях проекта{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Технологии
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Здесь должны быть очень крутые технологии
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>В данном проекте использованна настоящая магия</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}